<svelte:head>
	<title>Uncountably Infinite Space</title>
	<meta name="description" content="Home page of Xevinaly's personal site." />
</svelte:head>

<h1 class="max-w-80 my-4 mx-auto text-5xl text-center">UNCOUNTABLY INFINITE SPACE</h1>

<p>
	My name is Xevi and I'm a <s>professional</s> hobbyist web developer and an avid Svelte fangirl.
</p>

<p>
	This site is an attempt at a portfolio as well as a place to keep the projects I occasionally work
	on. I am currently porting it from an earlier version of Svelte after letting it lay idle for
	almost a year after losing my job. Should be a fun project to get me back into the groove.
</p>

<p>
	You can contact me either at
	<a href="mailto:xevinaly@gmail.com">xevinaly@gmail.com</a> or Xevinaly on Discord.
</p>

<style>
	p {
		@apply: mx-6 my-12;
	}
</style>
